@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora-Bold.eot');
    src: url('../fonts/Lora-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/Lora-Bold.woff2') format('woff2'), url('../fonts/Lora-Bold.woff') format('woff'), url('../fonts/Lora-Bold.ttf') format('truetype'), url('../fonts/Lora-Bold.svg#Lora-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora-Regular.eot');
    src: url('../fonts/Lora-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/Lora-Regular.woff2') format('woff2'), url('../fonts/Lora-Regular.woff') format('woff'), url('../fonts/Lora-Regular.ttf') format('truetype'), url('../fonts/Lora-Regular.svg#Lora-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora-BoldItalic.eot');
    src: url('../fonts/Lora-BoldItalic.eot?#iefix') format('embedded-opentype'), url('../fonts/Lora-BoldItalic.woff2') format('woff2'), url('../fonts/Lora-BoldItalic.woff') format('woff'), url('../fonts/Lora-BoldItalic.ttf') format('truetype'), url('../fonts/Lora-BoldItalic.svg#Lora-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Lora';
    src: url('../fonts/Lora-Italic.eot');
    src: url('../fonts/Lora-Italic.eot?#iefix') format('embedded-opentype'), url('../fonts/Lora-Italic.woff2') format('woff2'), url('../fonts/Lora-Italic.woff') format('woff'), url('../fonts/Lora-Italic.ttf') format('truetype'), url('../fonts/Lora-Italic.svg#Lora-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
}

body {
    overflow-x: hidden;
    padding-right: 0 !important;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

html,
body {
    height: 100%;
}

body:before,
body:after {
    content: none!important
}

::i-block-chrome,
body {
    -webkit-text-stroke: .1px
}

iframe {
    margin-bottom: 0;
}

img {
    max-width: 100%;
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
span,
p,
ul {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
    clear: none;
    line-height: normal;
}

label {
    font-weight: normal;
}

*:focus {
    outline: none;
}

a {
    text-decoration: none;
    outline: none;
    color: #819139;
}

a:hover,
a:focus,
a:active {
    text-decoration: none;
    outline: none;
    color: #d78763;
}

a,
input[type="submit"] {
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="number"],
textarea,
select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

input:focus,
select:focus,
button:focus {
    box-shadow: none;
    outline: none;
}

select::-ms-expand {
    display: none;
}

h1 {
    font-size: 125px;
}

h2 {
    font-size: 42px;
}

h3 {
    font-size: 45px;
}

h4 {
    font-size: 35px;
}

h5 {
    font-size: 28px;
}

h6 {
    font-size: 16px;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
    color: #5c4b51;
}

*::-webkit-input-placeholder {
    color: #ada2a4;
    opacity: 1;
}

*::-moz-placeholder {
    color: #ada2a4;
    opacity: 1;
}

*:-ms-input-placeholder {
    opacity: 1;
    color: #ada2a4 !important;
}


/*****  Main CSS  *****/

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}

.container .container {
    width: auto;
    padding: 0;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

#preloader {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999999;
}

#preloader>span {
    display: inline-block;
    font-size: 36px;
    height: auto;
    left: 0;
    margin: auto;
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    width: 100%;
    color: #000;
    text-align: center;
}


/**** Header ****/

header {
    position: relative;
    border-bottom: 1px solid #e1e1e1;
}

header::after {
    bottom: 0;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    -webkit-box-shadow: -3px 6px 24px 0px rgba(0, 0, 0, 0.35);
    box-shadow: -3px 6px 24px 0px rgba(0, 0, 0, 0.35);
}

.menu-bg {
    top: 0;
}

.logo {
    display: inline-block;
    vertical-align: middle;
    margin-right: 40px;
    position: relative;
    z-index: 3;
}

.logo img {
    max-width: 100%;
}

.header_inner .header_top p {
    color: #898989;
    display: inline-block;
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
    font-family: 'Lora';
}

header .navbar {
    display: inline-block;
    vertical-align: middle;
}

.header_inner {
    display: inline-block;
    width: 84%;
    vertical-align: middle;
    position: relative;
    z-index: 3;
}

.header_inner .header_top {
    border-bottom: 1px solid #e9eef1;
    padding: 15px 0;
}

.header_inner .header_top p img {
    vertical-align: middle;
    margin-right: 9px;
    width: 14px;
}

.home_sec nav ul li {
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Lora';
    text-transform: capitalize;
    margin-right: 50px;
}

.home_sec nav ul li:last-child {
    margin-right: 0;
}

.home_sec .navbar {
    padding: 0;
}

.home_sec .navbar-light .navbar-nav .nav-link {
    color: #5c4b51;
}

.home_sec .navbar-light .navbar-nav .active > .nav-link,
.home_sec .navbar-light .navbar-nav .nav-link.active {
    color: #784425;
}

.home_sec .navbar-light .navbar-nav .nav-link:focus,
.home_sec .navbar-light .navbar-nav .nav-link:hover {
    color: #d78763;
}

.home_sec .navbar-expand-lg .navbar-nav .nav-link {
    padding: 0;
}

.home_sec .header_btm {
    padding: 26px 0;
    display: inline-block;
}

.login {
    color: #819139;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Lora';
    text-transform: capitalize;
    margin-right: 28px;
}

.login_active {
    color: #d78763;
}

.home_sec .header_contact {
    padding: 20px 0;
}

.med_btn,
.large_btn {
    width: 136px;
    background: #819139;
    display: inline-block;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    color: #fff;
    font-size: 14px;
    font-style: italic;
    font-family: 'Lora';
    font-weight: bold;
    text-align: center;
    padding: 8px;
}

.med_btn:hover,
.med_btn:focus,
.large_btn:hover,
.large_btn:focus {
    background: #784425;
    color: #fff;
}

.cart_icn {
    width: 18px;
    margin-left: 10px;
}


/**** Banner ****/

.banner_sec {
    width: 100%;
    height: 840px;
    position: relative;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    box-shadow: 0px -30px 50px #ffffff inset;
    -webkit-box-shadow: 0px -30px 50px #ffffff inset;
}

.banner_sec .carousel-item {
    height: 100%;
}

.banner_sec .carousel-inner,
.banner_sec #carouselExampleControls {
    height: 100%;
}

.large_btn {
    font-size: 16px;
    width: 186px;
    padding: 15px;
}

.large_btn img {
    width: 21px;
}

.banner_sec .carousel-caption {
    bottom: auto;
    top: 115px;
    width: 613px;
    margin: auto;
    left: 0;
    right: 0;
}

.banner_sec .carousel-caption h1 {
    font-family: 'Alex Brush', cursive;
    font-weight: 400;
    color: #819139;
    font-size: 125px;
    line-height: 110px;
}

.banner_sec .carousel-caption h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 45px;
    text-transform: uppercase;
    color: #784425;
    line-height: 50px;
    margin-top: -22px;
    margin-bottom: 20px;
}

.banner_sec .carousel-caption p {
    color: #5c4b51;
}

.banner_sec .carousel-caption a {
    margin-top: 34px;
}


/**** Home Special Offer ****/

.offer_sec {
    margin-top: -226px;
}

.offer_bx {
    background: #faf8f2;
    width: 100%;
    position: relative;
    height: 347px;
    padding: 30px 0 0 30px;
    box-shadow: 0px 2px 11px 0 rgba(50, 50, 50, 0.19);
    -webkit-box-shadow: 0px 2px 11px 0 rgba(50, 50, 50, 0.19);
}

.offer_bx figure {
    width: 238px;
    position: absolute;
    right: 0;
    height: 268px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    margin-bottom: 0;
    bottom: 18px;
}

.offer_bx h4 {
    font-size: 18px;
    color: #d78763;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    z-index: 2;
}

.offer_bx h4 span {
    font-weight: bold;
    font-style: italic;
    font-family: 'Lora';
    display: block;
    text-transform: none;
}

.offer_bx h4 a {
    color: inherit;
}

.offer_bx h4 a:hover,
.offer_bx h4 a:focus {
    color: #819139;
}

.dscnt_sec {
    width: 100px;
    height: 100px;
    background: #8cbeb2;
    margin-top: 70px;
    position: relative;
}

.dscnt_sec:after {
    content: '';
    height: 3px;
    width: 198px;
    background: #8cbeb2;
    position: absolute;
    left: 97%;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    border-radius: 2px;
    -webkit-border-radius: 2px;
}

.offer_sec .col-sm-4:nth-child(2) .dscnt_sec:after,
.offer_sec .col-sm-4:nth-child(2) .dscnt_sec {
    background: #f3b562;
}

.dscnt_sec h6 {
    font-size: 16px;
    color: #fff;
    font-family: 'Lora';
    font-weight: bold;
    height: auto;
    text-align: center;
    vertical-align: middle;
}

.offer_info {
    position: relative;
    z-index: 2;
}

.offer_info h6 {
    font-size: 16px;
    color: #fff;
    font-family: 'Lora';
    font-weight: bold;
}

.deal_sc {
    position: absolute;
    right: 30px;
    top: 24px;
    z-index: 2;
}

.offer_bx_overlay {
    background: #f06060;
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 5;
    padding: 24px;
    text-align: center;
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transition: all 500ms;
    transition: all 500ms;
}

.offer_bx_shw {
    border: 1px solid #e4d9d1;
    width: 100%;
    height: 100%;
    padding: 10px;
}

.offer_bx_shw h4 {
    color: #fff;
}

.offer_bx_shw h6 {
    font-size: 16px;
    color: #fff;
    font-family: "Lora";
    font-style: italic;
    font-weight: bold;
    position: relative;
    padding-bottom: 18px;
    margin-bottom: 24px;
}

.offer_bx_shw h6:after {
    width: 40px;
    height: 2px;
    background: #fff;
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: auto;
}

.offer_bx_shw p {
    color: #fff;
    font-size: 14px;
}

.offer_bx_shw p strong {
    font-weight: 900;
}

.min_sc {
    width: 100%;
    display: block;
    margin-top: 5px;
}

.btm_10 {
    margin-bottom: 10px;
}

.btn_transparent {
    font-size: 15px;
    color: #fff;
    text-align: center;
    font-style: italic;
    font-family: 'Lora';
    font-weight: bold;
    width: 123px;
    border: 1px solid #ffffff;
    display: inline-block;
    padding: 6px;
}

.offer_bx_shw .btn_transparent {
    margin-top: 31px;
}

.btn_transparent:hover,
.btn_transparent:focus {
    color: #fff;
    background: #d78763;
}

.offer_bx:hover .offer_bx_overlay {
    -webkit-transform: scale(1);
    transform: scale(1);
}


/**** Home Benefit Section ****/

.owl-carousel .owl-wrapper:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}


/* display none until init */

.owl-carousel {
    display: none;
    position: relative;
    width: 100%;
    -ms-touch-action: pan-y;
}

.owl-carousel .owl-wrapper {
    display: none;
    position: relative;
    -webkit-transform: translate3d(0px, 0px, 0px);
}

.owl-carousel .owl-wrapper-outer {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
}

.owl-carousel .owl-wrapper-outer.autoHeight {
    -webkit-transition: height 500ms ease-in-out;
    -moz-transition: height 500ms ease-in-out;
    -ms-transition: height 500ms ease-in-out;
    -o-transition: height 500ms ease-in-out;
    transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item {
    float: left;
}

.owl-controls .owl-page,
.owl-controls .owl-buttons div {
    cursor: pointer;
}

.owl-controls {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/* mouse grab icon */

.grabbing {
    cursor: url(grabbing.png) 8 8, move;
}


/* fix */

.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
}

.owl-theme .owl-controls {
    margin-top: 10px;
    text-align: center;
}


/* Styling Next and Prev buttons */

.owl-theme .owl-controls .owl-buttons div {
    color: #FFF;
    display: inline-block;
    font-size: 38px;
    color: #d5d5d5;
    margin: 0;
    opacity: 1;
    padding: 0;
}


/* Clickable class fix problem with hover on touch devices */


/* Use it for non-touch hover action */

.owl-theme .owl-controls.clickable .owl-buttons div:hover {
    filter: Alpha(Opacity=100);
    /*IE7 fix*/
    opacity: 1;
    text-decoration: none;
}


/* Styling Pagination*/

.owl-theme .owl-controls .owl-page {
    display: inline-block;
    zoom: 1;
    *display: inline;
    /*IE7 life-saver */
}

.owl-theme .owl-controls .owl-page span {
    display: block;
    width: 8px;
    height: 8px;
    margin: 0 10px 0 0;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    background: #fff;
    opacity: 0.4;
}

.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span {
    width: 10px;
    height: 10px;
    opacity: 1;
}


/* If PaginationNumbers is true */

.owl-theme .owl-controls .owl-page span.owl-numbers {
    height: auto;
    width: auto;
    color: #FFF;
    padding: 2px 10px;
    font-size: 12px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

.owl-item .item {
    margin: auto;
    padding: 0 2px;
    text-align: center;
}


/**** Benefit Section ****/

.benefit_sec {
    margin-top: 20px;
    position: relative;
    margin-bottom: 102px;
    padding-top: 125px;
}

.benefit_sec:before {
    position: absolute;
    background: url(../images/benefit_lft_img1.png) no-repeat;
    content: "";
    height: 385px;
    left: 0;
    position: absolute;
    width: 215px;
    bottom: 0;
}

.benefit_sec:after {
    position: absolute;
    background: url(../images/benefit_rght_img.png) no-repeat;
    content: "";
    height: 517px;
    right: 0;
    position: absolute;
    width: 316px;
    top: 0;
}

.heading_sec {
    display: inline-block;
    float: none;
    margin: auto;
    text-align: center;
    width: auto;
}

.heading_sec h2 {
    font-size: 125px;
    color: #e5e3e3;
    font-family: 'Alex Brush', cursive;
    font-weight: 400;
    line-height: 110px;
    text-align: center;
}

.heading_sec h5 {
    font-size: 28px;
    text-transform: uppercase;
    color: #5c4b51;
    font-weight: 400;
    line-height: 35px;
    margin-top: -29px;
}

.count_sc {
    font-size: 32px;
    font-weight: bold;
    color: #5c4b51;
}

.benefit_sec .owl-carousel .owl-wrapper-outer {
    width: 643px;
    margin: auto;
}

#benefit-demo1 {
    width: 100%;
    max-width: 57%;
    margin: 54px auto auto;
}

#benefit-demo1 .carousel-inner {}

#benefit-demo1 .count_sc {
    display: inline-block;
    margin-right: 60px;
    vertical-align: top;
}

.benefit_info {
    width: 210px;
    margin-right: 47px;
    display: inline-block;
    vertical-align: top;
}

.benefit_info h4 {
    font-size: 24px;
    color: #5c4b51;
    font-weight: bold;
    font-family: 'Lora';
    line-height: 36px;
    margin-bottom: 9px;
}

.benefit_info p {
    font-size: 16px;
    color: #5c4b51;
    font-weight: 400;
    line-height: 29px;
}

#benefit-demo1 figure {
    width: 268px;
    display: inline-block;
    vertical-align: bottom;
    margin-bottom: 0;
}

#benefit-demo1 .carousel-control-next,
#benefit-demo1 .carousel-control-prev {
    color: #5c4b51;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
    opacity: 1;
    letter-spacing: 1px;
    width: auto;
    height: auto;
    display: inline-block;
    top: auto;
    bottom: 0;
}

#benefit-demo1 .carousel-control-next:hover,
#benefit-demo1 .carousel-control-next:focus,
#benefit-demo1 .carousel-control-prev:hover,
#benefit-demo1 .carousel-control-prev:focus {
    color: #d78763;
}

.benefit_sec .heading_sec {
    width: 100%;
}

.benefit_controls {
    border-bottom: 3px solid #819139;
    position: relative;
    margin-top: 44px;
}


/**** Home Best Deal ****/

.best_deal_sec {
    text-align: center;
}

.best_deal_sec h6 {
    color: #819139;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 17px;
    display: inline-block;
}

.best_deal_sec .free_ship {
    background: #819139;
    width: 140px;
    height: 140px;
    display: inline-table;
    margin: 0 67px;
}

.best_deal_sec .free_ship h2 {
    color: #fff;
    font-size: 42px;
    font-family: 'Lora';
    font-weight: normal;
    letter-spacing: 0;
    text-transform: none;
    line-height: 22px;
    vertical-align: middle;
    display: table-cell;
}

.best_deal_sec .free_ship h2 span {
    font-size: 16px;
    font-family: 'Lora';
    font-style: italic;
    display: inline-block;
    margin-top: 10px;
}


/**** Home Cooking ****/

.cooking_innr {
    width: 100%;
    height: 523px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    margin-bottom: 64px;
    position: relative;
}

.home_cooking_sec {
    margin-top: 73px;
    position: relative;
}

.cooking_more {
    background: #fff;
    width: 308px;
    bottom: -64px;
    position: absolute;
    right: 99px;
    padding: 41px 43px;
    box-shadow: 0 6px 18px 1px rgba(177, 177, 177, 0.57);
    -webkit-box-shadow: 0 6px 18px 1px rgba(177, 177, 177, 0.57);
}

.cooking_more h5,
.cooking_more h6 {
    font-size: 21px;
    color: #819139;
    font-weight: bold;
    font-family: 'Lora';
    text-transform: capitalize;
}

.cooking_more h6 {
    font-size: 14px;
    color: #784425;
    margin-bottom: 25px;
}

.cooking_more p {
    line-height: 28px;
    margin-bottom: 30px;
}

.read_more {
    color: #fff;
    font-family: 'Lora';
    font-weight: bold;
    font-style: italic;
    width: 222px;
    background: #784425;
    text-align: center;
    display: inline-block;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    padding: 7px;
    border: 1px solid #784425;
}

.read_more:hover,
.read_more:focus {
    background: transparent;
    color: #784425;
}

.get_started_btn {
    border-color: #819139;
    background: transparent;
    color: #819139;
    margin-top: 13px;
}

.get_started_btn:hover,
.get_started_btn:focus {
    background: transparent;
    color: #819139;
    box-shadow: -3px 5px 5px 0 rgba(177, 177, 177, 0.57);
    -webkit-box-shadow: -3px 5px 5px 0 rgba(177, 177, 177, 0.57);
    border-color: #784425;
}

.get_started_btn img {
    margin-left: 7px;
    width: 18px;
    margin-top: 3px;
}

.sidebar_follow {
    background: #8cbeb2;
    padding: 31px 25px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.sidebar_follow h6 {
    font-size: 14px;
    color: #fff;
    font-family: 'Lora';
    font-weight: bold;
    font-style: italic;
    margin-bottom: 23px;
}

.sidebar_follow ul li {
    display: block !important;
    float: none !important;
    margin-right: 0 !important;
    margin-bottom: 17px;
}


/**** Discover Section ****/

.discover_sec {
    position: relative;
    width: 100%;
    padding-bottom: 135px;
}

.discover_rght,
.discover_lft {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    margin-bottom: 0;
}

.discover_lft {
    top: auto;
    left: 0;
    bottom: 0;
    right: auto;
}

.discover_sec .heading_sec {
    padding-left: 123px;
}

.discover_list {
    padding-left: 46px;
    margin-top: 66px;
}

.discover_list li {
    list-style: none;
    margin-bottom: 75px;
}

.discover_list li:last-child {
    margin-bottom: 0;
}

.discover_list li figure {
    margin-right: 37px;
    margin-bottom: 0;
    display: inline-block;
    width: 75px;
    margin-top: 7px;
    vertical-align: top;
}

.discover_list li:nth-child(2) figure {
    width: 139px;
}

.discover_list li:nth-child(3) figure {
    width: 73px;
}

.discover_list li:nth-child(2) {
    padding-left: 170px;
}

.discover_list li:nth-child(3) {
    padding-left: 409px;
}

.discover_list li:nth-child(2) .discover_rght_cntnt {
    width: 60%;
}

.discover_list li:nth-child(3) .discover_rght_cntnt {
    width: 81%;
}

.discover_list li figure img {
    width: 100%;
}

.discover_list li .discover_rght_cntnt h4 {
    font-size: 24px;
    color: #5c4b51;
    font-weight: bold;
    font-family: 'Lora';
    margin-bottom: 11px;
}

.discover_list li .discover_rght_cntnt {
    display: inline-block;
    width: 50%;
}

.discover_rght_cntnt p {
    line-height: 26px;
}


/*.discover_sec:after{position: absolute;top:0;right:0;width:446px;height: 1244px;content: '';background: url(../images/discover_rght.png) no-repeat;background-position: center;background-size: cover;}*/


/**** Home Recipe ****/

.home_recipe_sec {
    width: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
    padding: 130px 0;
    margin-bottom: 9px;
}

.home_recipe_sec .view_recipe {
    width: 64%;
    margin: auto;
    text-align: center;
}

.home_recipe_sec .view_recipe h5 {
    color: #784425;
    font-weight: 400;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.home_recipe_sec .view_recipe h5 strong {
    color: #819139;
    font-weight: 900;
}

.home_recipe_sec .view_recipe p {
    font-weight: 400;
}

.home_recipe_sec .view_recipe .large_btn {
    margin-top: 40px;
}


/**** Footer ****/

footer {
    width: 100%;
}

footer .top_ftr {
    width: 100%;
    background: #f5f4f4;
    padding: 64px 0;
}

.ftr_bx h6 {
    font-size: 18px;
    color: #5c4b51;
    font-weight: bold;
    font-family: 'Lora';
    text-transform: capitalize;
    margin-bottom: 27px;
}

.ftr_bx .ftr_inr ul li {
    font-size: 14px;
    font-weight: 300;
    list-style: none;
    color: #5c4b51;
    margin-bottom: 17px;
}

.ftr_bx .ftr_inr ul li a {
    color: inherit;
}

.ftr_bx .ftr_inr ul li a:hover,
.ftr_bx .ftr_inr ul li a:focus,
.ftr_bx .ftr_inr ul li.current-menu-item a {
    color: #d78763;
}

.ftr_social ul li {
    list-style: none;
    color: #5c4b51;
    width: 50px;
    height: 50px;
    text-align: center;
    background: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    margin-right: 14px;
    display: inline;
    float: left;
}

.ftr_social ul li:last-child {
    margin-right: 0;
}

.ftr_social ul li a {
    color: inherit;
    display: block;
    line-height: 50px;
}

.ftr_social ul li a:hover,
.ftr_social ul li a:focus {
    color: #d78763;
}

.acnt_sec {
    width: 274px;
    float: left;
}

.acnt_sec a {
    margin-right: 16px;
    margin-top: 16px;
    float: left;
}

.acnt_sec a:hover,
.acnt_sec a:focus {
    opacity: 0.7;
}

.acnt_sec a:first-child,
.acnt_sec a:nth-child(2),
.acnt_sec a:nth-child(3),
.acnt_sec a:nth-child(4) {
    margin-top: 0;
}

.acnt_sec a:nth-child(4n) {
    margin-right: 0;
}

.ftr_bx p {
    font-size: 12px;
    font-weight: 300;
    font-style: italic;
    width: 100%;
    float: left;
    margin-top: 10px;
}

.ftr_inr {
    display: inline-block;
    vertical-align: top;
    width: 49%;
}

.copyright_sec {
    text-align: center;
    width: 100%;
    padding: 30px 0;
}

.copyright_sec p {
    font-weight: 300;
}


/**** Contact Page ****/

.contact_sec {
    width: 100%;
    height: 554px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: relative;
    overflow: hidden;
}

.contact_sec:before {
    background: rgba(92, 75, 81, 0.5);
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.contact_sec .contact_caption h1 {
    color: #ffffff;
    font-family: 'Alex Brush', cursive;
    font-weight: 400;
    opacity: 0.6;
    font-size: 125px;
    line-height: 110px;
}

.contact_sec .contact_caption h4 {
    font-size: 32px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: -40px;
}

.contact_caption {
    position: relative;
    text-align: center;
}

.contact_info {
    background: #d78763;
    width: 920px;
    -webkit-box-shadow: -3px 6px 24px 0px rgba(0, 0, 0, 0.35);
    box-shadow: -3px 6px 24px 0px rgba(0, 0, 0, 0.35);
    margin-top: 66px;
    padding: 7px;
}

.contact_info_innr {
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    padding: 27px 35px;
    display: inline-block;
    width: 100%;
}

.contact_info_innr ul li {
    float: left;
    list-style: none;
    color: #fff;
    text-transform: uppercase;
    text-align: left;
    margin-right: 70px;
    letter-spacing: 1px;
}

.contact_info_innr ul li:last-child {
    margin-right: 0;
}

.contact_info_innr label {
    font-family: 'Lora';
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 0;
}

.contact_info_innr p {
    font-size: 16px;
    font-weight: 400;
    text-transform: none;
}

.contact_info_innr p a {
    color: #fff;
}

.contact_info_innr p a:hover,
.contact_info_innr p a:focus {
    color: #784425;
}

.contact_info_innr ul li figure {
    margin-right: 13px;
    margin-bottom: 0;
    display: inline-block;
    width: 19px;
}

.contact_info_innr ul li figure img {
    width: 100%;
    vertical-align: middle;
}

.contact_info_innr ul li:nth-child(2) figure,
.contact_info_innr ul li:nth-child(3) figure {
    width: 16px;
}

.contact_rght {
    display: inline-block;
    vertical-align: top;
}

.contact_main {
    text-align: center;
    width: 100%;
    padding: 86px 0 111px;
    position: relative;
}

.contact_main_innr h4 {
    font-size: 32px;
    font-weight: 400;
    color: #784425;
    text-transform: uppercase;
    margin-bottom: 14px;
}

.contact_main_innr form {
    width: 520px;
    margin: 50px auto auto;
}

.form_control1 {
    color: #5c4b51;
    font-weight: 400;
    font-size: 14px;
    height: 40px;
    border: 1px solid #f5f4f4;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #f5f4f4;
    padding: 0 18px;
    width: 100%;
    margin-bottom: 20px;
}

textarea.form_control1 {
    height: 140px;
    resize: none;
    padding: 10px 18px;
}

.form_control1:focus {
    background: transparent;
}

.contact_main_innr form input[type="text"].form_control1 {
    text-transform: capitalize;
}

.inpt_sml {
    width: 48%;
    display: inline-block;
}

.inpt_sml+.inpt_sml {
    margin-left: 3%;
}

.btn_grn {
    width: 100%;
    font-size: 16px;
    font-weight: 800;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    background: #819139;
    border: 0;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    color: #fff;
    display: inline-block;
    padding: 18px;
    cursor: pointer;
}

.btn_grn:hover,
.btn_grn:focus {
    background: #d78763;
}

.contact_main_innr form p {
    position: relative;
}

.input-placeholder {
    font-size: 14px;
    text-align: left;
    color: #ada2a4;
    display: block;
    margin-left: 18px;
    margin-bottom: 2px;
}

.effect {
    text-align: left;
    display: block;
    position: absolute;
    left: 18px;
    top: 9px;
    color: #ada2a4;
    transition: .3s;
    -webkit-transition: .3s;
    z-index: 1;
    font-weight: 400;
    font-size: 14px;
}

.contact_main_innr form .form_control1:focus~label.effect,
label.effect.has-content {
    top: -22px;
    font-size: 14px;
    color: #ada2a4;
}


/**** Menu Page ****/

.menu_banner {
    height: 182px;
}

.contact_sec.menu_banner:before {
    display: none;
}

.contact_sec.menu_banner .container {
    position: relative;
}

.contact_sec.menu_banner .menu_caption {
    position: absolute;
    left: 15px;
    bottom: 0;
}

.recipe_btn {
    font-size: 16px;
    color: #fff;
    font-family: 'Lora';
    font-style: italic;
    font-weight: normal;
    text-align: center;
    background: #292a2e;
    padding: 11px 31px 11px 41px;
    display: inline-block;
    position: relative;
    transition: none;
}

.recipe_btn:after {
    border-right: 16px solid transparent;
    border-bottom: 46px solid #292a2e;
    content: "";
    height: 0;
    right: -16px;
    position: absolute;
    top: 0;
    width: 0;
}

.recipe_btn:hover,
.recipe_btn:focus {
    background: #819139;
    color: #fff;
}

.recipe_btn:hover:after {
    border-bottom-color: #819139;
}

.product_search {
    padding: 30px 0;
    background: #fff;
    border-bottom: 1px solid #e4d9d1;
}

.pro_input {
    width: 17.95%;
    margin-right: 1%;
    display: inline-block;
}

.pro_input label {
    font-size: 14px;
    color: #5c4b51;
    font-weight: bold;
    margin-bottom: 11px;
    width: 100%;
}

.form_control2 {
    font-style: italic;
    font-family: 'Lora';
    font-size: 14px;
    color: #5c4b51;
    height: 38px;
    border: 1px solid #e4d9d1;
    border-radius: 0;
    background: transparent;
    width: 100%;
    padding: 0 11px;
}

.pro_input .form_control1 {
    text-transform: capitalize;
}

.form_control2:focus {
    border-color: #819139;
}

.placeholder1 {
    color: #ada2a4;
}

.slct {
    position: relative;
    z-index: 1;
}

.slct::after {
    position: absolute;
    top: 45px;
    right: 13px;
    content: '\f107';
    font-family: 'FontAwesome';
    font-size: 14px;
    color: #000;
    line-height: normal;
    z-index: -1;
}

.pro_input select {
    cursor: pointer;
}

.srch_btn {
    display: inline-block;
}

.srch_btn a i {
    color: #fff;
    font-size: 16px;
    background: #819139;
    width: 42px;
    height: 38px;
    line-height: 37px;
    text-align: center;
}

.srch_btn a i:hover {
    background: #d78763;
}

.product_list {
    width: 100%;
    background: #f5f4f4;
    border-bottom: 1px solid #e4d9d1;
    padding: 55px 0;
}

.product_bx {
    border: 1px solid #e4d9d1;
    background: #fff;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    margin-bottom: 33px;
}

.product_bx figure {
    margin-bottom: 0;
}

.product_info {
    padding: 27px 22px;
}

.product_info h6 {
    font-size: 18px;
    font-weight: 700;
    color: #784425;
    text-transform: uppercase;
    margin-bottom: 6px;
}

.product_info h6 a {
    color: inherit;
}

.product_info h6 a:hover,
.product_info h6 a:focus {
    color: #d78763;
}

.product_info p {
    font-size: 14px;
    margin-bottom: 11px;
}

.btn_recipe {
    color: #fffffe;
    font-size: 12px;
    font-family: 'Lora';
    font-weight: bold;
    text-align: center;
    text-transform: capitalize;
    padding: 4px 12px;
    display: inline-block;
    margin-bottom: 11px;
}

.btn_recipe:hover {
    background: #d78763;
    color: #fff;
}

.sea_clr {
    background: #8cbeb2;
}

.ylw_clr {
    background: #f3b562;
}

.peach_clr {
    background: #f06060;
}

.product_info a+a {
    margin-left: 9px;
}

.product_info p strong {
    font-weight: 700;
}

.pagination a,
.pagination span {
    font-size: 14px;
    color: #000;
    font-style: italic;
    font-family: 'Lora';
    border: 1px solid #e4d9d1;
    background: #fff;
    width: 38px;
    height: 38px;
    margin: 0 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.pagination span.current,
.pagination a:hover,
.pagination a:focus {
    background: #f8f6f5;
}


/**** Pricing Plan ****/

.pricing_page {
    text-align: center;
}

.pricing_page h4 {
    color: #819139;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    margin-bottom: 8px;
}

.pricing_page h6 {
    font-size: 18px;
    color: #784425;
    font-family: 'Lora';
    font-weight: normal;
    font-style: italic;
}

.pricing_plan_page {
    width: 100%;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    padding: 70px 0;
}

.pricing_slider {
    background: #fff;
}

.pricing_slider .product_bx {
    margin-bottom: 0;
}

.pricing_slider_heading {
    width: 100%;
    text-align: center;
    display: block;
    position: relative;
}

.pricing_slider_heading:after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    content: '';
    left: 0;
    right: 0;
    margin: auto;
    width: 88%;
    background: #f1ece8;
    height: 1px;
}

.pricing_slider_heading h4 {
    color: #819139;
    font-weight: 700;
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    z-index: 1;
    position: relative;
    background: #fff;
    display: inline-block;
    padding: 0 35px 7px;
}

.pricing_slider_heading h6 {
    font-size: 18px;
    color: #784425;
    font-family: 'Lora';
    font-weight: normal;
    font-style: italic;
    z-index: 1;
    position: relative;
    background: #fff;
}

.pricing_slider_heading strong {
    font-family: 'Lora';
    font-weight: bold;
}

.pricing_slider .product_bx {
    text-align: left;
    margin: 0;
    float: left;
    width: 100%;
}

.pricing_slider .product_bx figure,
.pricing_slider .product_bx figure img {
    width: 100%;
}

#pricing-slider {
    margin-top: 40px;
}

#pricing-slider .product_info {
    padding: 27px 15px;
}

#pricing-slider.owl-theme .owl-controls .owl-buttons div {
    color: #FFF;
    display: inline-block;
    font-size: 0;
    color: #d5d5d5;
    margin: 0;
    opacity: 1;
    padding: 0;
}

#pricing-slider.owl-carousel .owl-wrapper-outer {
    margin-bottom: 0;
}

#pricing-slider .owl-pagination {
    display: none;
}

#pricing-slider .owl-prev::before,
#pricing-slider .owl-next::before {
    color: #fff;
    content: "\f104";
    font-family: "FontAwesome";
    font-size: 23px;
    margin: 0 !important;
    opacity: 1;
    padding: 0 !important;
    position: absolute;
    text-align: center;
    text-shadow: none;
    left: 0px;
    top: -87px;
    width: 35px;
    height: 35px;
    background: #8d8185;
    line-height: 35px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    z-index: 1;
}

#pricing-slider .owl-next::before {
    content: "\f105";
    font-family: "FontAwesome";
    left: auto;
    right: 0px;
    bottom: auto;
    top: -87px;
    width: 35px;
    height: 35px;
}

#pricing-slider .owl-prev:hover:before,
#pricing-slider .owl-prev:hover:focus,
#pricing-slider .owl-next:hover:before,
#pricing-slider .owl-next:focus:before {
    background: #819139;
}

.pricing_meal {
    width: 40%;
    border: 1px solid #e4d9d1;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    background: #fff;
    text-align: center;
}

.pricing_meal+.pricing_meal {
    margin-left: 120px;
}

.pricing_meal figure {
    margin-bottom: 0;
}

.pricing_meal figure img {
    width: 100%;
}

.pricing_meal_cntnt {
    padding: 30px;
}

.pricing_meal_cntnt.product_info p {
    font-size: 18px;
}

.pricing_meal_cntnt .product_info h6 {
    margin-bottom: 11px;
}

.price_total {
    color: #819139;
}

.fre_ship {
    font-size: 12px !important;
    font-style: italic;
    font-family: 'Lora';
    font-weight: normal !important;
    color: #5c4b51 !important;
}

.recipe_week {
    border-top: 1px solid #ebebeb;
    width: 100%;
    margin-top: 21px;
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 31px;
    margin-bottom: 21px;
}

.recipe_week label {
    font-size: 14px;
    font-weight: 400;
    color: #5c4b51;
    margin-bottom: 12px;
    width: 100%;
}

.person_slct,
.recipe_slct {
    width: 49%;
    display: inline-block;
    margin-top: 22px;
}

.recipe_week .large_btn {
    width: 100%;
    margin-top: 13px;
}

.pricing_meal_cntnt.product_info span {
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
    color: #5c4b51;
}

.pricing_meal_cntnt.product_info span strong {
    font-weight: 700;
}

.recipe_week .radio-group input[type=radio] {
    position: absolute;
    visibility: hidden;
    display: none;
}

.recipe_week .radio-group label {
    color: #5c4b51;
    display: inline-block;
    cursor: pointer;
    width: auto;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    padding: 7px 15px;
}

.recipe_week .radio-group input[type=radio]:checked + label {
    color: #fff;
    background: #819139;
}

.recipe_week .radio-group label + .recipe_week .radio-group input[type=radio] + label {
    border-left: solid 1px #e4d9d1;
}

.recipe_week .radio-group {
    border: solid 1px #e4d9d1;
    display: inline-block;
    margin: 0px;
    border-radius: 5px;
    overflow: hidden;
}


/**** Login Page  ****/

.login_main {
    width: 100%;
    position: relative;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding: 62px 0 102px;
    height: auto;
}

.login_main:before {
    content: '';
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.login_main .discover_rght,
.login_main .discover_lft {
    z-index: 1;
}

.login_main .heading_sec h6 {
    font-size: 18px;
    color: #819139;
    font-family: 'Lora';
    font-style: italic;
    margin-top: 17px;
}

.login_main .heading_sec h5 {
    margin-top: -39px;
}

.login_main_innr form {
    background: #f5f4f4;
    width: 100%;
    padding: 35px 30px;
    margin-top: 29px;
}

.login_main_innr {
    text-align: center;
}

.login_main_innr .form_control1 {
    background: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #fff;
}

.login_main_innr .form_control1:focus {
    border-color: #819139;
}

.login_main_innr .login_btn {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    background: #819139;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: center;
    display: inline-block;
    font-weight: 700;
    padding: 16px;
    border: 0;
    cursor: pointer;
    width: 100%;
}

.login_main_innr .login_btn:hover,
.login_main_innr .login_btn:focus {
    background: #784425;
    color: #fff;
}

.login_btn_sc {
    width: 100%;
    margin-bottom: 21px;
}

.remember_me {
    width: 49%;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}

.control__indicator {
    position: absolute;
    top: 4px;
    left: 0;
    width: 14px;
    height: 14px;
    border: 1px solid #ada2a4;
    background: transparent;
}

.control-group {
    display: inline-block;
    vertical-align: top;
    background: #fff;
    text-align: left;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    padding: 30px;
    width: 200px;
    height: 210px;
    margin: 10px;
}

.control {
    display: block;
    position: relative;
    color: #5c4b51;
    cursor: pointer;
    font-size: 14px;
    padding-left: 26px;
    vertical-align: middle;
    margin-bottom: 0;
}

.control input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.control--radio .control__indicator {
    border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
    background: transparent;
}

.control input:checked ~ .control__indicator {}


/*.control:hover input:not([disabled]):checked ~ .control__indicator,
.control input:checked:focus ~ .control__indicator {
  background: #5c4b51;
}*/

.control input:disabled ~ .control__indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}

.control__indicator:after {
    content: '';
    position: absolute;
    display: none;
}

.control input:checked ~ .control__indicator:after {
    display: block;
}

.control--checkbox .control__indicator:after {
    left: 5px;
    top: 2px;
    width: 3px;
    height: 8px;
    border: solid #000;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.control--checkbox input:disabled ~ .control__indicator:after {
    border-color: #7b7b7b;
}

.pwd {
    font-size: 14px;
    color: #819139;
    text-decoration: underline;
    width: 50%;
    display: inline-block;
    vertical-align: middle;
    text-align: right;
}

.login_btm_sc {
    border-top: 1px solid #e4d9d1;
    margin-top: 33px;
    padding-top: 25px;
    text-align: left;
    width: 100%;
}

.login_btm_sc p {
    font-size: 14px;
    display: inline-block;
    padding: 8px 0px;
}

.get_strt {
    font-size: 14px;
    color: #ada2a4;
    font-style: italic;
    font-family: 'Lora';
    width: 136px;
    border: 1px solid #ada2a4;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    padding: 7px;
    float: right;
}

.get_strt:hover,
.get_strt:focus {
    background: #784425;
    color: #fff;
}


/**** Product Detail Page ****/

.product_banner_sec {
    width: 100%;
}

.product_banner_sec:before {
    display: none;
}

.product_banner_sec .container {
    position: relative;
}

.product_banner_sec .menu_caption {
    position: absolute;
    left: 15px;
    bottom: 0;
}

.product_detail_page {
    width: 100%;
    padding-bottom: 78px;
    background: #f3f2f2;
}

.pro_inr_main {
    width: 100%;
}

.pro_inr {
    width: 100%;
    background: #fff;
    -webkit-box-shadow: -2px 4px 9px 0px rgba(0, 0, 0, 0.14);
    -moz-box-shadow: -2px 4px 9px 0px rgba(0, 0, 0, 0.14);
    box-shadow: -2px 4px 9px 0px rgba(0, 0, 0, 0.14);
    padding: 40px;
}

.pro_bx1 {
    margin-top: -112px;
    width: 100%;
}

.pro_inr_lft {
    width: 100%;
}

.pro_inr_lft h4 {
    font-size: 24px;
    color: #5c4b51;
    font-weight: bold;
    font-family: 'Lora';
    line-height: 36px;
}

.pro_inr_lft h6 {
    font-size: 12px;
    font-weight: 400;
    color: #819139;
    margin-bottom: 16px;
}

.pro_inr_lft p {
    font-size: 14px;
    color: #5c4b51;
    font-weight: 400;
    max-width: 77%;
    display: inline-block;
}

.pro_inr_lft p strong {
    font-weight: 900;
}

.pro_inr_lft p + p {
    margin-top: 22px;
}

.social_icn {
    float: right;
}

.dwnld_btn {
    font-size: 14px;
    color: #819139;
    font-family: 'Lora';
    font-weight: bold;
    font-style: italic;
    display: inline-block;
    text-align: right;
    width: 22%;
}

.dwnld_btn i {
    margin-right: 8px;
}

.pro_detail {
    width: 100%;
    margin-top: 38px;
}

.pro_detail_ingredient {
    border: 1px solid #e4d9d1;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    background: #fff;
    width: 67%;
    padding: 32px 43px;
    float: left;
}

.pro_detail_ingredient h6,
.pro_detail_required h6,
.pro_instruction h6 {
    font-family: 'Lora';
    font-weight: bold;
    color: #5c4b51;
    font-size: 21px;
    margin: 4px 0;
    display: inline-block;
}

.pro_detail_ingredient .recipe_week {
    border-top: 0;
    width: auto;
    margin-top: 0;
    border-bottom: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    float: right;
}

.pro_detail_ingredient .person_slct {
    width: 100%;
    display: inline-block;
    margin-top: 0;
}

.pro_detail_ingredient .person_slct > label {
    margin-right: 26px;
}

.pro_detail_ingredient .recipe_week label {
    display: inline-block;
    width: auto;
    vertical-align: middle;
    margin-bottom: 0;
}

.pro_detail_ingredient .recipe_week .radio-group {
    display: inline-block;
    vertical-align: middle;
}

.ingredient_list {
    text-align: left;
    margin-top: 44px;
    width: 100%;
}

.ingredient_list li {
    list-style: none;
    width: 49%;
    margin-right: 1%;
    display: inline-block;
    margin-bottom: 32px;
}

.ingredient_list li:nth-child(even) {
    margin-right: 0;
}

.ingredient_list li figure {
    margin-right: 30px;
    width: 43px;
    margin-bottom: 0;
    display: inline-block;
    vertical-align: middle;
}

p strong {
    font-weight: 900
}

.ingredient_list li p {
    display: inline-block;
    vertical-align: middle;
    width: 76%;
    font-size: 14px;
}

.pro_detail_required {
    border: 1px solid #e4d9d1;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    background: #fff;
    width: 31%;
    float: right;
    padding: 32px 43px;
    min-height: 500px;
}

.pro_detail_required .ingredient_list li {
    margin-right: 0;
    width: 100%;
}

.pro_detail_required .ingredient_list li figure img {
    text-align: center;
}

.pro_detail_required .ingredient_list li p {
    width: 69%;
}

.pro_instruction {
    border: 1px solid #e4d9d1;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    background: #fff;
    width: 100%;
    float: left;
    padding: 32px 43px;
    margin-top: 35px;
}

.pro_inst_bx {
    width: 31.1%;
    margin-right: 3%;
    position: relative;
    margin-bottom: 46px;
    display: inline-block;
    vertical-align: top;
}

.pro_inst_bx:nth-child(3n) {
    margin-right: 0;
}

.pro_inst_bx .cnt_no {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    font-weight: 900;
    font-size: 16px;
    text-align: center;
    width: 36px;
    height: 36px;
    background: #819139;
    text-align: center;
    line-height: 36px;
}

.pro_instruct_main {
    margin-top: 30px;
    width: 100%;
}

.pro_inst_bx figure {
    margin-bottom: 26px;
    width: 100%;
}

.pro_inst_bx figure img {
    width: 100%;
}

.pro_ult {
    padding: 63px 0 97px;
}

.pro_ult .pricing_slider_heading::after {
    display: none;
}


/**** How It Works ****/

.how_works {
    width: 100%;
    height: 521px;
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
    position: relative;
    overflow: visible;
}

.how_works::before {
    display: none;
}

.how_works_main {
    position: relative;
}

.how_caption {
    margin-top: 15px;
    text-align: center;
}

.how_caption h1 {
    font-family: 'Alex Brush', cursive;
    font-weight: 400;
    color: #819139;
    font-size: 125px;
    line-height: 110px;
}

.how_caption h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 45px;
    text-transform: uppercase;
    color: #784425;
    line-height: 50px;
    letter-spacing: 2px;
}

.scrl_dwn {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    margin: -32px auto auto;
    width: 64px;
    height: 64px;
}

.scrl_dwn figure {
    width: 100%;
    height: 100%;
    text-align: center;
    background: #8cbeb2;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-bottom: 0;
    -webkit-box-shadow: -1px 2px 5px 0px rgba(0, 1, 1, 0.24);
    -moz-box-shadow: -1px 2px 5px 0px rgba(0, 1, 1, 0.24);
    box-shadow: -1px 2px 5px 0px rgba(0, 1, 1, 0.24);
}

.scrl_dwn figure i {
    color: #fff;
    font-size: 53px;
    vertical-align: middle;
    line-height: 64px;
}

.how_step1 {
    padding: 119px 0 98px;
    width: 100%;
    position: relative;
}

.how_works_main:after {
    position: absolute;
    top: 0;
    right: 0;
    background: url(../images/step1.png) no-repeat;
    background-size: cover !important;
    width: 353px;
    height: 189px;
    content: '';
}

.how_step1_rght figure {
    width: 27px;
    margin-bottom: 0;
    margin-right: 13px;
    display: inline-block;
    vertical-align: middle;
}

.how_step1_rght figure img {
    display: inline-block;
    vertical-align: middle;
}

.how_step1_rght h6 {
    color: #819139;
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
}

.how_step1_rght_info {
    margin-top: 35px;
}

.how_step1_rght_info h4 {
    font-size: 24px;
    color: #5c4b51;
    font-weight: bold;
    font-family: 'Lora';
    line-height: 30px;
    margin-bottom: 11px;
}

.how_step1_rght_info p {
    line-height: 30px;
}

.how_step1_rght_info p strong {
    font-weight: 700;
}

.how_step1_lft {
    width: 49%;
    float: none;
    vertical-align: middle;
    display: inline-block;
}

.how_step1_rght {
    width: 49%;
    float: none;
    vertical-align: middle;
    display: inline-block;
    padding-left: 5%;
}

.how_works_main1 {
    padding: 141px 0;
    width: 100%;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
}

.how_works_main1 .how_step1_rght {
    padding-left: 0;
}

.how_works_main1 .how_step1 {
    padding: 0;
}

.vw_dlvr {
    font-size: 14px;
    color: #819139;
    font-style: italic;
    font-family: 'Lora';
    font-weight: bold;
    margin-top: 32px;
    display: inline-block;
}

.vw_dlvr figure {
    width: 38px;
    height: 38px;
    margin-right: 20px;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.vw_dlvr:hover figure {
    opacity: 0.6;
}

.no_img:after {
    display: none;
}

.help_section {
    border-top: 1px solid #e4d9d1;
    padding: 113px 0;
    position: relative;
    text-align: center;
}

.help_section .scrl_dwn {
    margin-top: -39px;
    top: 0;
}

.help_section h2 {
    color: #e5e3e3;
    font-family: 'Alex Brush', cursive;
    font-weight: 400;
    font-size: 125px;
    line-height: 110px;
}

.help_section h5 {
    font-weight: 400;
    font-size: 28px;
    color: #5c4b51;
    text-transform: uppercase;
    margin-top: -42px;
}

.help_section h6 {
    font-style: italic;
    font-family: 'Lora';
    font-size: 18px;
    color: #819139;
    margin-top: 21px;
}

.help_section p {
    font-weight: 400;
    font-size: 14px;
    color: #5c4b51;
    line-height: 24px;
    margin-top: 26px;
}

.help_section .large_btn {
    width: 176px;
    margin-top: 39px;
    padding: 11px;
}

.cnt_btm {
    margin-top: 20px;
    display: block;
}

.cnt_btm label {
    font-size: 12px;
    font-weight: bold;
    font-family: 'Lora';
    margin-bottom: 0;
    color: #ada2a4;
    text-transform: uppercase;
    width: 100%;
}

.cnt_btm a {
    color: #ada2a4;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Lora';
}

.cnt_btm a:hover,
.cnt_btm a:focus {
    color: #819139
}

.last_step_rght {
    width: 54%;
}

.last_step_rght .how_step1_rght_info h5 {
    font-size: 28px;
    color: #784425;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.last_step_rght .how_step1_rght_info h5 strong {
    font-weight: 900;
    color: #819139;
}

.last_step_rght .large_btn {
    width: 176px;
    margin-top: 39px;
    padding: 11px;
    display: inline-block;
    margin-right: 36px;
}

.last_step_rght .vw_dlvr {
    vertical-align: top;
    margin-top: 44px;
}

.btm_cstm_12 {
    margin-bottom: 12px;
}


/**** Thank You Page ****/

.thankyou_main {
    width: 100%;
    position: relative;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    padding: 90px 0;
    height: auto;
    min-height: 200px;
    overflow: hidden;
}

.thankyou_main:before {
    content: '';
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.thankyou_main .discover_rght,
.thankyou_main .discover_lft {
    z-index: 1;
}

.thank_you_bg {
    -webkit-box-shadow: 0px 2px 22px -2px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 2px 22px -2px rgba(0, 0, 0, 0.35);
    background: #fff;
    padding: 72px;
    width: 100%;
    text-align: center;
    position: relative;
}

.thank_you_bg h1 {
    color: #e5e3e3;
    font-family: 'Alex Brush', cursive;
    font-weight: 400;
    font-size: 125px;
    line-height: 110px;
}

.thank_you_bg h5 {
    font-weight: 400;
    font-size: 28px;
    color: #5c4b51;
    text-transform: uppercase;
    margin-top: -42px;
}

.thank_you_bg h6 {
    font-style: italic;
    font-family: 'Lora';
    font-size: 18px;
    color: #819139;
    margin-top: 21px;
}

.thank_you_bg p {
    font-weight: 400;
    font-size: 14px;
    color: #5c4b51;
    line-height: 24px;
    margin-top: 26px;
}

.btn_stn {
    width: 289px;
    margin: 37px auto auto;
}

.btn_stn .large_btn {
    width: 100%;
    padding: 11px;
}

.share_fb {
    font-size: 16px;
    color: #784425;
    width: 100%;
    display: inline-block;
    padding: 11px;
    text-align: center;
    display: inline-block;
    font-style: italic;
    font-family: 'Lora';
    font-weight: bold;
    border: 1px solid #784425;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    margin-top: 13px;
}

.share_fb:hover,
.share_fb:focus {
    background: #819139;
    border-color: #819139;
    color: #fff;
}

.thank_lft {
    position: absolute;
    top: -36px;
    z-index: -1;
    left: -25px;
}

.thank_rght {
    position: absolute;
    bottom: -20px;
    z-index: -1;
    right: -25px;
}

.thank_cntr {
    position: relative;
    z-index: 2;
}

/**** Sign Up ****/

.signup_main {
    width: 100%;
    padding: 46px 0;
    position: relative;
    overflow: hidden;
}

.signup_main:before {
    position: absolute;
    bottom: 0;
    right: 0;
    content: '';
    background: url(../images/signup_btm_rght.jpg) no-repeat;
    width: 386px;
    height: 248px;
}

.step_form {
    width: 100%;
    background: #f5f4f4;
    -webkit-box-shadow: -3px 4px 20px 0px rgba(0, 0, 0, 0.35);
    box-shadow: -3px 4px 20px 0px rgba(0, 0, 0, 0.35));
    padding: 20px 0;
    text-align: center;
    margin-bottom: 38px;
}

.step_form ul li {
    font-size: 14px;
    color: #fff;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    background: #5c4b51;
    width: 190px;
    float: none;
    list-style: none;
    display: inline-block;
    padding: 7px;
    position: relative;
    margin-right: 11px;
}

.step_form ul li:last-child {
    margin-right: 0;
}

.step_form ul li:last-child:after {
    display: none;
}

.step_form ul li:hover,
.step_form ul li:focus,
.step_form ul li.active_tab {
    background: #819139;
    color: #fff;
}

.step_form ul li:after {
    content: '';
    position: absolute;
    background: #5c4b51;
    width: 15px;
    height: 2px;
    top: 50%;
    right: -15px;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
}

.step_form ul li a {
    color: inherit;
    display: block;
    position: relative;
    z-index: 1;
}

.dot_sec {
    width: 21px;
    height: 21px;
    background: transparent;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    border: 3px solid #fff;
    display: inline-block;
    position: absolute;
    left: 7px;
    top: 5px;
}

.dot_sec::after {
    background: #fff;
    width: 9px;
    height: 9px;
    display: inline-block;
    content: '';
    border-radius: 50%;
    top: 3px;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    vertical-align: middle;
}

.step_all_sec {
    position: relative;
}

.step_one {
    background: #f5f4f4;
    width: 100%;
    padding: 55px 50px;
    position: relative;
}

.signup_main h6 {
    font-size: 18px;
    color: #819139;
    font-family: 'Lora';
    font-style: italic;
    margin-top: 17px;
}

.step_one_lft {
    width: 51%;
    text-align: center;
    margin-right: 6%;
    display: inline-block;
    vertical-align: top;
}

.step_one_lft form {
    text-align: left;
    padding: 0;
}

.signup_main .form_control1 {
    margin-bottom: 0;
}

.signup_main .form_control1:focus {
    border-color: #819139;
}

.sb_hdng {
    font-size: 11px;
    color: #ada2a4;
    text-align: left;
    width: 100%;
    display: block;
    margin-top: 12px;
}

.txt_fnt {
    text-transform: capitalize;
}

.sml_inpt {
    display: inline-block;
    margin-right: 3%;
    width: 48.2%;
}

.margin_rght {
    margin-right: 0;
}

.step_one_lft p {
    margin-bottom: 20px;
}

.step_all_sec .login_btm_sc {
    margin-top: 15px;
}

.sml_inpt {
    position: relative;
}

.sml_inpt i {
    color: #819139;
    position: absolute;
    right: 21px;
    line-height: 39px;
}

.sml_inpt button {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    position: absolute;
    right: 32px;
    top: 19px;
    z-index: 1;
    border: 0;
}

.login_main_innr.step_one .login_btn {
    border-radius: 2px;
    -webkit-border-radius: 2px;
}

.disclaimer_sec {
    font-size: 12px !important;
    color: #ada2a4 !important;
    font-family: 'Lato', sans-serif !important;
    text-align: center;
    width: 75%;
    margin: auto;
    font-weight: 400 !important;
    font-style: normal !important;
}

.disclaimer_sec a {
    color: #819139 !important;
}

.disclaimer_sec a:hover,
.disclaimer_sec a:focus {
    color: #784425 !important;
}

.step_one_rght {
    width: 41%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    margin-top: 25px;
}

.step_one_descp {
    margin-bottom: 28px;
}

.step_one_descp label {
    font-weight: bold;
    font-family: 'Lora';
    text-transform: uppercase;
    color: #819139;
    margin-bottom: 0;
    letter-spacing: 1px;
    width: 85%;
    vertical-align: top;
}

.step_one_descp i {
    color: #819139;
    font-size: 19px;
    margin-right: 10px;
}

.pd_rght .form_control1 {
    padding-right: 42px !important;
}

.step_one_descp p {
    margin-bottom: 10px;
}

.commitment_sec {
    border: 1px solid #ada2a4;
    width: 100%;
    padding: 16px 30px;
    margin-top: 49px;
}

.commitment_sec p {
    font-size: 14px;
}

.commitment_sec p +p {
    margin-top: 10px;
}

.step_three_innr {
    width: 100%;
    background: #f5f4f4;
    text-align: left;
}

.step_all_sec .heading_sec h5 {
    font-family: 'Lora' !important;
    font-weight: bold;
}

.step_all_sec select {
    cursor: pointer;
}

.step_all_sec .slct:after {
    top: 8px;
    font-size: 22px;
    z-index: 1;
}

.dlvr_status {
    font-size: 14px !important;
}

.dlvr_status strong {
    font-weight: bold !important;
    color: #819139 !important;
}

.step_three.login_main_innr {
    text-align: left;
}

.step_three .step_one_lft {
    background: #f5f4f4;
    width: 57%;
    padding: 55px 50px;
    position: relative;
    margin-right: 2%;
}

.step_three p:last-child {
    margin-bottom: 0;
}

.shipping_rght {
    border: 2px solid #e4d9d1;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    width: 40%;
    float: right;
    padding: 36px;
}

.shipping_rght h4 {
    font-size: 18px;
    font-family: 'Lora';
    font-weight: bold;
    text-transform: uppercase;
    color: #5c4b51;
    margin-bottom: 27px;
}

.shipping_rght p {
    font-size: 14px;
    margin-bottom: 27px;
}

.shipping_rght label {
    color: #ada2a4;
    text-transform: uppercase;
    width: 100%;
    margin-bottom: 0;
}

.shping_info {
    width: 100%;
    display: block;
}

.order_total {
    width: 100%;
    border-top: 1px solid #f1ece8;
    padding-top: 15px;
}

.order_total h6 {
    font-size: 14px;
    font-weight: bold;
    color: #819139;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    margin-bottom: 12px;
}

.order_total p {
    margin-bottom: 2px;
}

.order_total label {
    width: 50%;
    display: inline-block;
}

.order_total .shping_info {
    width: 50%;
    display: inline-block;
    text-align: right;
}

.total_sc {
    margin-top: 32px;
    width: 100%;
}

.total_sc p {
    width: 100%;
}

.total_sc label,
.total_sc p {
    font-size: 16px;
    font-weight: bold;
    color: #5c4b51;
}

.total_sc label strong {
    text-align: left;
}

.total_sc strong {
    width: 50%;
    display: inline-block
}

.total_sc strong {
    text-align: right;
}

.shipping_rght .login_btm_sc {
    margin: 0 !important;
    border-top: 0 !important;
}

.step_four .heading_sec h5 img {
    vertical-align: top;
    margin-right: 10px;
    margin-top: 7px;
}

.cvc_sc .form_control1 {
    width: 110px !important;
}

.cvc_sc img {
    vertical-align: middle;
    margin-left: 10px;
}

.step_four .control__indicator {
    background: #fff !important;
}

.step_four .login_btm_sc strong {
    font-weight: bold;
}

.step_four .remember_me {
    margin-bottom: 12px;
}

.step_four .login_btm_sc p {
    display: block;
    padding: 0;
}

.step_four .login_btm_sc .form_control1 {
    width: 100%;
    height: 41px;
}

.apply_sc {
    display: inline-block;
    width: 74%;
}

.apply_btn {
    width: 22%;
    float: right;
}

.apply_btn .login_btn {
    font-size: 14px !important;
    padding: 10px !important;
}

.discalimer1 p {
    font-size: 12px !important;
}

.step_bx_cstm1 h4 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #5c4b51;
    margin-bottom: 10px;
}

.step_two .recipe_week {
    border: 0;
    margin: 0;
    padding: 0;
}

.step_two .recipe_week .radio-group label {
    padding: 20px 39px;
    background: #fff;
    float: left;
    margin-right: 2px;
}

.step_two .recipe_week .radio-group label:last-child {
    margin-right: 0;
}

.step_two .recipe_week .radio-group {
    vertical-align: middle;
    margin-right: 15px;
}

.step_two .person_slct label {
    display: inline-block;
    vertical-align: middle;
    width: auto;
    margin-bottom: 0;
}

.step_bx_cstm1 {
    margin-top: 50px;
}

.step_bx_cstm1:first-child {
    margin-top: 0;
}

.food_cat {
    margin-top: 40px;
    width: 100%;
}

.food_cat_bx {
    border: 1px solid #e4d9d1;
    width: 31.67%;
    margin-right: 2%;
    background: #fff;
    display: inline-block;
    margin-bottom: 2%;
}

.food_cat_bx:nth-child(3n),
.food_cat_bx:last-child {
    margin-right: 0;
}

.food_cat_bx_inr {
    border: 5px solid transparent;
    padding: 33px;
    display: inline-block;
}

.food_cat_bx:hover .food_cat_bx_inr,
.food_cat_bx:focus .food_cat_bx_inr {
    border-color: #819139;
}

.food_cat_bx_inr h4 {
    text-transform: uppercase;
    font-size: 18px;
    color: #819139;
    font-family: 'Lora';
    margin-bottom: 20px;
}

.food_cat_bx_inr p {
    font-size: 14px;
    float: left;
    width: 100%;
    margin-bottom: 7px;
}

.food_cat_bx_inr p:last-child {
    margin-bottom: 0;
}

.food_cat_bx_inr p span {
    float: left;
    width: 89%;
}

.food_cat_bx_inr i {
    color: #819139;
    float: left;
    font-size: 14px;
    margin-right: 10px;
}

.food_cat_bx:hover .food_cat_bx_inr p,
.food_cat_bx:focus .food_cat_bx_inr p {
    color: #819139;
}

.step_bx_cstm2 {
    border-top: 1px solid #e4d9d1;
    padding-top: 40px;
    margin-top: 26px;
}

.plan_bx {
    background: #fff;
    border: 1px solid #e4d9d1;
    margin-right: 1%;
    width: 49.5%;
    padding: 36px;display: inline;float: left;
}

.plan_bx:nth-child(even) {
    margin-right: 0;
}

.plan_bx h6 {
    color: #784425;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    margin: 0 0 14px;
}

.plan_cstm_main {
    width: 100%;
    margin-top: 35px;
    margin-bottom: 20px;display: inline-block;
}

.plan_fnt {
    font-size: 12px !important;
    color: #5c4b51;
    line-height: 19px;
}

.plan_bx .large_btn {
    width: 100%;
    margin-top: 30px;
    margin-bottom: 23px;
    padding: 12px;
}

.srvng_total_lft {
    display: inline-block;
    vertical-align: middle;
    width: 200px;
}

.srvng_total {
    display: inline-block;
    text-align: right;
    width: 50%;
    vertical-align: middle;
    margin-bottom: 10px;
}

.srvng_total_lft figure {
    width: 25px;
    height: 25px;
    margin-bottom: 0;
    margin-right: 14px;
    display: inline-block;
    vertical-align: top;
}

.srvng_total_lft figure img {
    width: 100%;
    vertical-align: middle;
}

.srvng_total_lft p {
    font-size: 14px;
    width: 140px;
    display: inline-block;
    vertical-align: middle;
}

.srvng_sc1 {
    margin-bottom: 10px;
}

.srvng_total_lft .srvng_sc1:nth-child(2) figure {
    width: 18px;
    height: 18px;
    min-width: 25px;
}

.srvng_sc_total {
    margin-left: 42px;
    border-top: 1px solid #e4d9d1;
    padding-top: 11px;
    margin-top: 15px;
}

.srvng_sc_total p {
    font-size: 16px;
}

.srvng_sc_total p strong {
    font-weight: bold;
}
.signup_main .discover_lft{top: 200px;
left: 0;
bottom: auto;}




/******* my acount page css start  font-family: 'Lora'; *******/

.left-side-bar{ max-width: 230px; width: 100%; background: #f5f3f4; padding: 22px 0px 0; }
.left-side-bar h3{font-family: 'Lora'; color: #5c4b51; font-size: 18px;font-weight: bold;}
.user-detail {padding: 0px 22px;}
.user-detail ul li { display: inline-block; position: relative;}
.user-detail ul li a {
    color: #5c4b51;
    font-size: 11px;
    margin-left: 5px;
    margin-right: 0px;
    padding: 0 7px;
}
.user-detail ul li:before {
    width: 4px;
    height: 4px;
    content: "";
    position: absolute;
    top: 10px;
    left: 2px;
    background: #000;
    border-radius: 100%;
}
.user-detail p {
    color: #ada2a4;
    font-size: 11px;
    padding-top: 5px;
        margin-bottom: 12px;
}
.left-side-bar ul.nav li {
    display: block;
    width: 100%;    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.left-side-bar ul.nav li a {
    padding: 12px 22px;
    font-size: 14px;
    color: #5c4b51;
    display: block; text-transform: uppercase; font-weight: 700;position: relative;    padding-left: 60px;
}
.left-side-bar ul.nav li.active,.left-side-bar ul.nav li:hover{background: #819139;}
.left-side-bar ul.nav li.active a,.left-side-bar ul.nav li:hover a{ color: #fff;}
section.account-section {
    margin-top: 45px;padding-bottom: 80px;
}
.recent-order h4{ color: #000; font-size: 12px; font-weight: bold;    line-height: 2.4;}
.recent-order select{ width: 95px; font-size: 9px;  font-family: 'Lora'; font-style: italic;}
.recent-order {
    background: #f5f4f4;
    padding: 7px 27px; margin-top: 19px;
}
.show-item {
    text-align: right;
}
.recent-order .show-item select.form-control {
    margin: 0 auto;
    height: auto;
    margin-right: 0;
    display: inline-block;
    background: #fff url(../images/errow-down.png);
    background-repeat: no-repeat;
    background-position: 92% 50%;
    padding: 4px 10px;
    padding-right: 20px;
}
.recent-order .show-item select.form-control:hover,.recent-order .show-item select.form-control:focus{ box-shadow: none;}
.show-item span {     margin-right: 15px; font-family: 'Lato', sans-serif;font-weight: 700; font-size: 12px;}
.information h3 {
    font-size: 24px;
    color: #5c4b51;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    margin-bottom: 10px;
    letter-spacing: 0.01em;
}
.information h3 strong{ color: #5c4b51; font-family: 'Lato', sans-serif;font-weight: 700; }
.information p{color: #ada2a4; font-family: 'Lato', sans-serif;font-weight: 400; font-size: 14px;}
.nav-menu svg {  width:18px;  height: 18px; fill: #819139;-webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;}
.left-side-bar ul.nav li:hover svg ,.left-side-bar ul.nav li.active svg{ fill: #fff;}
.left-side-bar ul.nav li a span {
    position: absolute;
    left: 22px;
    top: 13px;
}
.more-btn a {
    font-size: 14px;
    font-family: 'Lora';
    font-weight: bold;
    font-style: italic;
    background: #784425;
    border-radius: 7px;
    padding: 7px 15px;
    color: #fff;
    width: 100%;
    display: inline-block;
    letter-spacing: 0.04em;
}
.more-btn {
    width: 100%;
    display: block;
    text-align: center;
    border-top: 1px solid #e4d9d1;
    padding: 20px 22px;
    margin-top: 80px;
}
.more-btn a:hover{ background: #819139;}
.vagan-plans {
    border: 1px solid #e4d9d1;
    margin-top: 12px;
    padding: 35px 30px;
}
.vagan-plans h3{color: #784425; font-family: 'Lato', sans-serif;font-weight: 700; font-size: 16px; margin-bottom: 20px;}
.vagan-plans ul li {  list-style: none;  margin-bottom: 5px;}
.vagan-plans ul li a{ font-size: 14px; color: #5c4b51;font-family: 'Lato', sans-serif;font-weight: 400; align-items: center;
    display: flex;}
.vagan-plans svg {
    width: 22px;
    height: 22px;
    fill: #819139;
    position: relative;
    top: 5px;
    margin-right: 16px;
}
a.totel-serving {
    color: #5c4b51;
    font-size: 16px;
    border-top: 1px solid #e4d9d1;
    margin-left: 37px;
    margin-top: 15px;
    display: block;
    padding-top: 7px;
    font-weight: 700;max-width: 147px;
}
.vagan-plans ul li a:hover,a.totel-serving:hover{ color: #819139;}
.vagan-plans ul li a span {
    width: 28px;
    height: 28px;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center left;
    margin-right: 10px;
}
.deliver-report h4{font-size: 14px; font-family: 'Lato', sans-serif;font-weight: 700; }
.deliver-report h4 small{ font-size: 14px; color: #5c4b51;  display: block; width: 100%;font-weight: 400;    margin-top: 5px;}
a.repeats{ font-size: 14px; color: #819139;font-family: 'Lora';  font-weight: bold; font-style: italic;margin-top: 20px;
    display: block;}
a.repeats svg{ width: 16px;
    height: 16px;
    fill: #819139;
    position: relative;
    top: 4px;
    margin-right: 16px;    margin-right: 7px;-webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;}
a.repeats:hover,a.repeats:hover svg{ color: #000; fill:#000;}
.deliver-report {
    padding-left: 40px;
    padding-top: 6px;
}
.gift-voucher form { background: #f5f4f4; padding: 20px;}
.gift-voucher h3{font-size: 24px; font-family: 'Lato', sans-serif; font-weight: 400; color: #5c4b51;    margin-bottom: 25px;}
.gift-voucher {
    margin-top: 40px;
    margin-bottom: 30px;
}
.gift-voucher form input[type="text"] {
    background: #fff;
    border: none;
    padding: 10px 20px;
    min-width: 520px;
    font-size: 14px;
}
.gift-voucher form input[type="submit"] {
    background: #819139;
    border: none;
    color: #fff;
    padding: 8px 20px;
    font-size: 16px;
    margin-left: 10px;
    min-width: 135px;font-family: 'Lato', sans-serif; font-weight: 600;letter-spacing: 0.05em; cursor: pointer;-webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.gift-voucher form input[type="submit"]:hover,.unsubscribe_plan a.unsubscribes:hover{background: #784425;}

.genrate-details table {
    border-collapse: collapse;
    width: 100%;
}
.genrate-details table tr td{ color: #5c4b51; font-size: 14px; font-weight: 400;font-family: 'Lato', sans-serif;    padding: 10px 0px;}
.genrate-details table tr td:first-child{ font-size: 14px;}
.genrate-details table tr td:nth-child(2){font-size: 14px; color: #819139;}
.genrate-details table tr td:nth-child(3){ font-size: 14px;}
.genrate-details table tr td:last-child{font-size: 14px; font-weight: 700;}
.unsubscribe_plan {
    margin-top: 50px;
}
.genrate-details  .unsubscribe_plan h3{ color: #5c4b51; font-size: 18px ;font-weight: 700;font-family: 'Lato', sans-serif;margin-bottom: 15px;}
.unsubscribe_plan a.unsubscribes {
    background: #819139;
    border: none;
    color: #fff;
    padding: 7px 20px;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 0.05em;
    cursor: pointer;
    display: inline-block;
    min-width: 155px;
    text-align: center;
    border-radius: 7px;
    margin-top: 15px; font-family: 'Lora';  font-weight: bold; font-style: italic;
}
.genrate-details  .unsubscribe_plan p{ color: #ada2a4;font-weight: 400;font-family: 'Lato', sans-serif; }
.choose-data {
    margin-top: 30px;
    border-bottom: 1px solid #e4d9d1;
    padding-bottom: 12px;
}
.choose-data a {
    position: relative; cursor: pointer;font-family: 'Lato', sans-serif; font-weight: 700; font-size: 14px; color: #5c4b51;
}
.choose-data a::after{
    content: "\f106";
    font-family: fontawesome;
    top: 0;
    right: 0px;
    padding: 0;
    margin: 0 0px 0 10px;
}
#voucher ul li {
    list-style: none;
}
#voucher ul li a::after{ display: none;}
#voucher ul {
    width: max-content;
}   
#voucher ul li a {
    border-bottom: 1px solid #ccc;
    padding: 6px 0;
    display: block;
}
.user-detail ul li a:hover{ color: #819139;}
.vagan-plans ul li a strong {  margin-right: 8px;}
.totel-serving apan {  margin-right: 4px;}
.choose-data.collapsed a::after {  content: "\f107";}
	
/******* my acount page css END *******/



